<main class="d-flex flex-column">
    <nav id="main-nav">

        <app-main-navbar [appSectionTitle]="appSectionTitle" [navBarTitle]="appNavTitle"></app-main-navbar>

		<app-loadingbar *ngIf="loading"></app-loadingbar>
    </nav>

    <mat-sidenav-container class="mat-drawer-container">
        <mat-sidenav
            opened
            mode="side"
        >
            <app-side-nav-content (sideNavUpdate)="setViewName($event)"></app-side-nav-content>

        </mat-sidenav>

        <mat-sidenav-content class="d-flex p-3 flex-column side-nav-content">

            <section>

                <router-outlet></router-outlet>

            </section>

        </mat-sidenav-content>

    </mat-sidenav-container>
</main>
