<div>
    <!-- <div *ngFor="let thisRow of propertiesList">{{ thisRow| consolelog }}</div> -->
</div>

<mat-card class="border-radius-0 mb-1">
    <mat-list>

        <mat-list-item role="listitem">
            <mat-card-title>Properties</mat-card-title>
        </mat-list-item>

        <!-- <mat-list-item role="listitem"> -->
        <!-- <mat-divider></mat-divider> -->
        <!-- </mat-list-item> -->

        <mat-list-item
            role="listitem"
            class="table-heading"
        >
            <div class="line-grid">
                <div *ngFor="let heading of headers">{{heading}}</div>
            </div>
        </mat-list-item>

    </mat-list>

    <mat-accordion>

        <ng-container *ngFor="let row of propertiesList">
            <mat-expansion-panel
                [id]="row.propertyid"
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
                (click)="onExpanderClick(row.propertyid)"
            >
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <div class="line-grid">
                            <div>{{row.unit}}</div>
                            <div>{{row.estatename}}</div>
                            <div>{{row.propertytype}}</div>
                            <div>{{row.suite_street}}</div>
                            <div>{{row.suburb}}</div>
                            <div>{{row.city}}</div>
                        </div>
                    </mat-panel-description>

                </mat-expansion-panel-header>

                <div class="position-relative d-block">
                    <mat-divider></mat-divider>
                </div>

                <div class="d-flex justify-content-between align-items-start">

                    <div>
                        <mat-list>
                            <h3 mat-subheader>
                                <mat-icon mat-list-icon>note</mat-icon>
                                Property
                            </h3>

                            <mat-list-item
                                class="d-flex"
                                *ngFor="let field of currentProperty.estate"
                            >
                                <p mat-line>{{field.title}}: {{field.value}}</p>
                            </mat-list-item>

                            <mat-list-item *ngFor="let field of currentProperty.propertyType">
                                <p mat-line>{{field.title}}: {{field.value}}</p>
                            </mat-list-item>

                            <mat-list-item *ngFor="let field of currentProperty.address">
                                <p mat-line>{{field.title}}: {{field.value}}</p>
                            </mat-list-item>

                        </mat-list>
                    </div>

                    <div>
                        <mat-list>
                            <h3 mat-subheader>Address</h3>
                            <mat-list-item *ngFor="let field of currentProperty.address">
                                <p mat-line>{{field.title}}: {{field.value}}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <div>
                        <mat-list>
                            <h3 mat-subheader>Owner</h3>
                            <mat-list-item *ngFor="let field of currentProperty.owner">
                                <p mat-line>{{field.title}}: {{field.value}}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <div>
                        <mat-list>
                            <h3 mat-subheader>Resident</h3>
                            <mat-list-item *ngFor="let field of currentProperty.resident">
                                <p mat-line>{{field.title}}: {{field.value}}</p>
                            </mat-list-item>
                        </mat-list>
                    </div>

				</div>
				<mat-card-actions class="text-right">
					<button [routerLink]="['/home','edit-properties','property#'+row.propertyid]" mat-raised-button color="accent"><mat-icon>edit</mat-icon>EDIT</button>
				</mat-card-actions>

            </mat-expansion-panel>
        </ng-container>

    </mat-accordion>

</mat-card>
