<div class="p-2">
    <mat-toolbar>
        <mat-toolbar-row>
            <p>Auto-resizing sidenav</p>

        </mat-toolbar-row>
    </mat-toolbar>

    <mat-selection-list
        multiple="false"
        (selectionChange)="onUserSelection($event)"
    >
        <mat-list-option
            id="table"
            *ngFor="let table of tableList; let i = index"
        >
            <div>
                <span>
                    <mat-icon [innerText]="icons[i]"></mat-icon>
                    {{tableNames[i]}}
                </span>
            </div>
        </mat-list-option>
    </mat-selection-list>
</div>
