<div class="p-2">
    <mat-toolbar>
        <mat-toolbar-row>
            <p>Manage Data</p>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-selection-list
        multiple="false"
        (selectionChange)="onUserSelection($event)"
    >
        <mat-list-option
            id="table"
            *ngFor="let itm of uiData; let i = index"
			[routerLink]="['/','home',itm.routerlink]"
			value="{{itm.caption}}"
        >
            <div class="d-flex flex-row align-items-center">
                <mat-icon [innerText]="itm.icon"></mat-icon>
                <span class="ml-2">{{itm.caption}}</span>
            </div>
        </mat-list-option>

        <mat-divider></mat-divider>

        <mat-list-option title="Edit Property" #editOption class="mt-1">

            <div *ngIf="editActive" class="d-flex flex-row align-items-center">
                <mat-icon [innerText]="'edit'"></mat-icon>
                <span class="ml-2">Edit Form</span>
            </div>

        </mat-list-option>
    </mat-selection-list>
</div>
