<div>
    <!-- <div *ngFor="let thisRow of propertiesList">{{ thisRow| console log }}</div> -->
</div>

<mat-card class="border-radius-0 mb-1">
    <mat-list>

        <mat-list-item role="listitem">
            <mat-card-title>Properties</mat-card-title>
        </mat-list-item>

        <!-- <mat-list-item role="listitem"> -->
        <!-- <mat-divider></mat-divider> -->
        <!-- </mat-list-item> -->

        <mat-list-item
            role="listitem"
            class="table-heading"
        >
            <div class="line-grid">
                <div *ngFor="let heading of headers">{{heading}}</div>
            </div>
        </mat-list-item>

    </mat-list>

    <mat-accordion>

        <ng-container *ngFor="let row of propertiesList; let propIdx = index">
            <mat-expansion-panel
                [id]="row.propertyid"
                (opened)="row.panelstate = true"
                (closed)="row.panelstate = false"
            >
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        <div class="line-grid">
                            <div>{{row.unit}}</div>
                            <div>{{row.estatename}}</div>
                            <div>{{row.propertytype}}</div>
                            <div>{{row.suite_street}}</div>
                            <div>{{row.suburb}}</div>
                            <div>{{row.city}}</div>
                        </div>
                    </mat-panel-description>

                </mat-expansion-panel-header>

                <ng-container *ngIf="row.panelstate">

                    <div class="position-relative d-block">
                        <mat-divider></mat-divider>
                    </div>

                    <mat-card-actions class="properties-actions">
                        <button
                            [routerLink]="['/home','add-edit-properties','property#'+row.propertyid]"
                            mat-raised-button
                            color="accent"
                        >
                            <mat-icon>edit</mat-icon>
                            EDIT
                        </button>
                    </mat-card-actions>

                    <div class="position-relative d-block">
                        <mat-divider></mat-divider>
                    </div>

                    <div class="d-flex justify-content-between align-items-start">

                        <div>
                            <mat-list>
                                <h3 mat-subheader>
                                    <mat-icon mat-list-icon>note</mat-icon>
                                    Property
                                </h3>

                                <mat-list-item

                                    *ngFor="let field of row.estate"
                                >
                                    <div>
                                        <div>{{field.title}}:</div>
                                        <div>{{field.value}}</div>
                                    </div>

                                </mat-list-item>

                                <mat-list-item *ngFor="let field of row.propertyType">
                                    <p mat-line>{{field.title}}: {{field.value}}</p>
                                </mat-list-item>

                                <mat-list-item *ngFor="let field of row.address">
                                    <p mat-line>{{field.title}}: {{field.value}}</p>
                                </mat-list-item>

                            </mat-list>
                        </div>

                        <div>
                            <mat-list>
                                <h3 mat-subheader>Address</h3>
                                <mat-list-item *ngFor="let field of row.address">
                                    <p mat-line>{{field.title}}: {{field.value}}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>

                        <div>
                            <mat-list>
                                <h3 mat-subheader>Owner</h3>
                                <mat-list-item *ngFor="let field of row.propertyOwner">
                                    <p mat-line>{{field.title}}: {{field.value}}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>

                        <div>
                            <mat-list>
                                <h3 mat-subheader>Resident</h3>
                                <mat-list-item *ngFor="let field of row.propertyResident">
                                    <p mat-line>{{field.title}}: {{field.value}}</p>
                                </mat-list-item>
                            </mat-list>
                        </div>

					</div>

                </ng-container>

            </mat-expansion-panel>

        </ng-container>

    </mat-accordion>

</mat-card>
