/* You can add global styles to this file, and also import other style files */

@import url('./assets/rad-css/rad.css');
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body {
	height: 100vh;
 }

 main{
	 min-height: 100vh;
	 height: auto;
 }

nav{
	display: block !important;
}

 button{outline: 0 !important;}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
