<main class="d-flex flex-column">
    <nav id="main-nav">
        <app-navbar [navBarTitle]="appNavTitle"></app-navbar>
        <app-loadingbar></app-loadingbar>
    </nav>

    <mat-sidenav-container class="mat-drawer-container">
        <mat-sidenav
            opened
            mode="side"
        >
            <app-site-nav-content></app-site-nav-content>

        </mat-sidenav>

        <mat-sidenav-content class="d-flex p-3 flex-column side-nav-content">

            <section>

                <router-outlet>
                    <h1 class="mat-headline">Please wait</h1>
                    <p class="mat-body-1">Loading data . . .</p>
                </router-outlet>

            </section>

        </mat-sidenav-content>

    </mat-sidenav-container>
</main>
